{% extends 'base2.html.twig' %}

{% block title %}Kortingscode toevoegen{% endblock %}

{% block body %}
<h1>Kortingscode toevoegen</h1>
<hr>
{{ include('kortingscode/_form.html.twig') }}
<br>
<a href="{{ path('kortingscode_index') }}" class="btn btn-priamry">Terug</a>
{% endblock %}
