/* IPad*/
@media only screen and (max-width: 830px) {
    .search {
        width: 120px !important;
    }

    .search-btn {
        margin-left: 270px !important;
    }

    .w3-display-container {
        width: 50% !important;
    }

}

/* Smartphone */
@media only screen and (max-width: 767px) {
    .product-img {
        width: 90%;
    }

    .w3-display-container {
        width: 100% !important;
    }

    .search-btn, .search {
        display: none !important;
    }
    .related-products{
        width: 100% !important;
    }
    .comments{
        width: 100% !important;
    }
}
