*{
    font-family: Heebo, sans-serif;
}

.hamburger{
    display: none;
}


/* Product show*/
.product-img {
    width: 90%;
    height: 350px;
    float: left;
}

.w3-display-container {
    width: 50%;
    float: left;
    border: solid 2px;
    object-fit: cover;
}
.mySlides {
    object-fit: cover;
}

.w3-content {
    height: 400px;
}
.product-row{
    background-color: #e9e9e9;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}
.product-rating{
    float: right;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    padding: 10px;
    margin-top: -20px;

}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
}
.red{
    background-color: red;
}

.avg-green{
    color: green;
}
.avg-orange{
    color: orange;
}
.avg-red{
    color: red;
}
.avg-rating{
    margin-top: -5px;
    float: right;
    font-weight: bold;
    font-size: 16pt !important;
}

.product-info {
    float: left;
    padding-left: 10px;
}

.product-info h2 {
    color: green;
}

.product-info a {
    margin-top: 100px;
}

.product-beschrijving {
    margin-top: 40px;
    width: 100%;
    position: relative;
    float: left;
}

.product-btn {
    width: 100%;
    position: relative;
    float: left;
}

.related-products {
    width: 45%;
    position: relative;
    float: right;
    margin-top: 30px;
}

.comments {
    width: 45%;
    position: relative;
    float: left;
    margin-top: 30px;
}

.product-card {
    width: 40% !important;
    float: left;
    border: 1px lightgray solid;
    border-radius: 5px;
    margin: 15px;
}

.product-card img {
    height: 200px;
    object-fit: cover;
}

.comment {
    padding: 15px;
}

/* home */
.card {
    float: left;
    margin-left: 50px;
    margin-top: 15px;
}

.card img {
    height: 250px;
}

/* base */
.bars-menu {
    display: none;
    position: absolute;
    left: 15px;
}

.small {
    width: 30%;
    float: left;
    margin: 10px;
}

.message {
    bottom: 1px;
    right: 40px;
    width: 300px;
    height: 200px !important;
    display: block;
}

.toast-header {
    background-color: #218838;
}

.toast-header strong {
    color: white;
}

.btn-info {
    margin-right: 10px !important;
}

#lijst_info {
    margin-top: 10px;
}

#lijst_paginate {
    margin-top: 10px;
}

/* Image index */
.thumpnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: solid 2px;
    margin: 5px;
}

.sidebar-right {
    float: right !important;
    right: 0px;
    top: 50px;
    background-color: #e9e9e9;
    width: 350px;
    height: 100vh;
    padding: 15px;
    position: fixed;
}


/* Slide show */


/* status */
.wachtend {
    color: orange;
    font-weight: bold;
}

.In {
    color: cornflowerblue;
    font-weight: bold;
}

.Afgerond {
    color: green;
    font-weight: bold;
}

.Geannuleerd {
    color: red;
    font-weight: bold;
}

.Terugbetaald {
    color: orange;
    font-weight: bold;
}

.actie-prijs {
    color: red !important;
    text-decoration: line-through;
    opacity: 0.5;
}

.search {
    width: 200px;
    margin-left: 150px !important;
    position: absolute;
}

.search-btn {
    position: absolute;
    margin-left: 345px;
}
/* Merken */
.merk-img{
    width: 20%;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.merk-info p{
    text-align: justify;
    width: 79%;
    float: right;
}


/* Navigatie */

.brand-nav {
    width: 100%;
    background-color: #c5c5c5;
    overflow: auto;
    margin-top: -15px;
}

.brand-nav a {
    float: left;
    padding: 8px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 25%; /* Four links of equal widths */
    text-align: center;
}

.brand-nav a:hover {
    background-color: #ababab;
}


@media screen and (max-width: 500px) {
    .brand-nav   a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }
}

/* Checkout */
.checkout-proces{
    height: 70px;
}

.checkout-proces div {
    width: 250px;
    height: 40px;
    position: relative;
    background: #575757;
    float: left;
    margin-left: 5px;
    padding-top: 9px;
    padding-left:25px;
    color: white;
}
.checkout-proces .active{
    background-color: forestgreen !important;
}

.width-50{
    width: 48%;
    float: left;
    margin-left: 1%;
    height: 600px;
}