{% extends 'base.html.twig' %}
{% block body %}
    <h1>Error - {{ error }}</h1>
    <hr>
    <h3>{{ message }}</h3>
    <br>
    <button onclick="window.history.back()" class="btn btn-primary">Terug</button>
{% endblock %}