{% extends 'base2.html.twig' %}

{% block title %}Edit Factuur{% endblock %}
{% block stylesheets %}
    <style>
        #factuur_regels{
            margin-left: 25px;
        }
    </style>
{% endblock %}
{% block body %}
<h1>Factuur bewerken</h1>
<hr>
{{ include('factuur/_form.html.twig', {'button_label': 'Update'}) }}
<br>
<a class="btn btn-primary" href="{{ path('factuur_index') }}">Terug</a>
<br>
<br>
{{ include('factuur/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/javascript">

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<tr></tr>').append(newForm);
            $newLinkLi.before($newFormLi);

            addTagFormDeleteLink($newFormLi);
        }

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormButton = $('<button type="button" class="btn btn-danger"><i class="fas fa-times"></i></button>');
            $tagFormLi.append($removeFormButton);

            $removeFormButton.on('click', function(e) {
                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }



        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagButton = $('<button type="button" class="btn btn-success add_tag_link">+ Regel</button>');
        var $newLinkLi = $('<tr></tr>').append($addTagButton);

        $(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('table.tags');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagButton.on('click', function(e) {
                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });
        });


        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('table.tags');

            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('tr').each(function() {
                addTagFormDeleteLink($(this));
            });

            // ... the rest of the block from above
        });

    </script>
{% endblock %}
