{% extends "base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p class="alert alert-success">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    <a href="{{ path('default') }}" class="btn btn-primary">Begin met shoppen</a>
{% endblock fos_user_content %}
