<form method="post" action="{{ path('product_delete', {'id': product.id}) }}" onsubmit="return confirm('Weet je zeker dat je dit product wil verwijderen?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="btn btn-danger">Verwijderen</button>
</form>
