{% if is_granted("ROLE_SUPER_ADMIN") %}
    {% set base  = 'base2.html.twig' %}
{% else %}
    {% set base  = 'base.html.twig' %}
{% endif %}
{% extends base %}
{% block title %}Edit NAW{% endblock %}

{% block body %}
    <h1>Gegevens bewerken</h1>
    <hr>
    {{ include('naw/_form.html.twig', {'button_label': 'Update'}) }}
    <br>
    <a class="btn btn-primary" href="{{ path('n_a_w_index') }}">Terug</a>
    <br>
    <br>
    {{ include('naw/_delete_form.html.twig') }}
{% endblock %}
